<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BtnUseAsWallpaper" value="Set wallpaper" />
    <add key="BtnDone" value="Done" />
    <add key="MonitorAspect" value="Screen aspect:" />
    <add key="ImgAspect" value="Image aspect:" />
    <add key="MonitorResulution" value="Screen resolution:" />
    <add key="ImgResulution" value="Image resolution:" />
    <add key="PreviewText" value="Push &quot;Esc&quot; to close the preview" />
    <add key="CheckboxText" value="Ignore picture aspect ratio" />
    <add key="WallpaperFolder" value="C:\Windows\Web\Screen" />
    <add key="IgnoreACLWarning" value="false" />
    <add key="SetWallpaperQuestion" value="Use this picture as Wallpaper?" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
